.gif{
	margin: 0px
	padding: 0px;
	background: gray;
	background-image: url("images/slap.gif");
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #171616;
}
.body{
	margin: 0px;
	padding: 0px;
}
.bgp{
	background-image: url("images/bass.jpg");
	height: 42vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align:center;
	padding: 0px 20px;
}